@charset "utf-8";

@font-face {
	font-family: 'Cascadia Code';
	src: url('fonts/CascadiaCode.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	overflow: hidden;
	font-family: 'Cascadia Code', monospace;
	font-size: 24px;
	background-color: black;
	color: darkgoldenrod;
}

#screen {
	height: 100vh;
	width: 100vw;
}

.line {
	white-space: pre;
	position: relative;
	margin: 0;
}